@font-face {
   font-family: 'Arvo';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/MUSIC/DESKTOP/New%20folder/New%20folder/fonts/Arvo/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Arvo';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/MUSIC/DESKTOP/New%20folder/New%20folder/fonts/Arvo/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Arvo';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/MUSIC/DESKTOP/New%20folder/New%20folder/fonts/Arvo/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Arvo';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/MUSIC/DESKTOP/New%20folder/New%20folder/fonts/Arvo/700italic.ttf') format('truetype');
}
